<div class="question">
  <h1>Est-ce que {{actor.name}} a joué dans {{movie.title}} ?</h1>
</div>

<div class="images">
  <img class="actor" src="{{actor.image}}">
  <img class="movie" src="{{movie.poster}}">    
</div>

<div class="buttons">
  <button class="button no">No</button>
  <button class="button yes">Yes</button>
</div>

<div class="mescore">
  <p>SCORE : {{score}} &nbsp; {{message}}</p>
</div>


<footer class="footer-basic-centered">

  <p class="footer-titre">A Real Game About Movies.</p>

  <p class="footer-links">
    <a href="#">Accueil</a>
    ·
    <a href="#/play">Nouvelle partie</a>
    ·
    <a href="#/highscores">Top 10</a>
  </p>

  <p class="footer-company-name">Manuel & Stan &copy; 2015</p>

</footer>

<div class="popin-back">
  <div class="popin-content">
    <h1>Merci d'avoir joué !</h1>
    <form>
      <label for="username">Renseignez votre nom d'utilisateur s'il-vous-plaît :</label>
      <input type="text" name="username" id="username" class="repeat" placeholder="AAA">
      <button type="submit" class="back-home"><i class="fa fa-home"></i> Retour à l'acceuil</button>
      <button type="submit" class="repeat"><i class="fa fa-repeat"></i> Recommencer une partie</button>
    </form>
  </div>
</div>