<div class="question">
  <h1>Est-ce que {{actor.name}} a joué dans {{movie.title}} ?</h1>
</div>

<div class="images">
  <img class="actor" src="{{actor.image}}">
  <img class="movie" src="{{movie.poster}}">    
</div>

<div class="buttons">
  <button class="button no">No</button>
  <button class="button yes">Yes</button>
</div>

<div class="mescore">
  <p>SCORE : {{score}} &nbsp; {{message}}</p>
</div>


<footer class="footer-basic-centered">

  <p class="footer-titre">A Real Game About Movies.</p>

  <p class="footer-links">
    <a href="#">Home</a>
    ·
    <a href="#">New Game</a>
    ·
    <a href="#">Top 100</a>
  </p>

  <p class="footer-company-name">Manuel & Stan &copy; 2015</p>

</footer>